@use "../../styles/responsive.scss" as *;
@use "../../styles/variables.scss" as *;

nav {
  background-color: $primary-color;
  z-index: 10;
  position: relative;
  padding: 16px 200px;

  @include respond("lg") {
    padding: 16px 24px;
  }

  .nav-top {
    padding-bottom: 16px;
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 24px;

    a {
      font-weight: $font-semibold;
      color: $text-white-color;
      text-decoration: none;
      padding: 10px;
      transition: color 0.6s ease-out;

      &:hover {
        color: $highlight-color;
        text-decoration: underline;
      }
    }
  }

  .nav-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    /**** DESKTOP NAV ****/
    .desktop-menu ul {
      display: flex;
      gap: 12px;
    }

    .menu-item {
      position: relative;
      display: flex;
      align-items: center;

      a {
        color: $text-white-color;
        text-decoration: none;
        font-weight: $font-normal;
      }

      &:hover .dropdown {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
      }

      &:hover .chevron-icon {
        opacity: 0;
        transform: rotate(180deg);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
      }

      .dropdown {
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: -182px;
        background: $bg-color;
        box-shadow: 0px 0px 16px 0px $navmenu-bohshadow-color;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        z-index: 9999;
        gap: 16px;
        margin-top: 41px;
        display: flex;
        opacity: 0;
        transform: scale(0.95);
        transition: opacity 0.3s ease-in-out, transform 0.6s ease-in-out;
        width: 812px;

        &::before {
          content: "";
          position: absolute;
          top: -47px;
          left: 17%;
          width: 155px;
          height: 106px;
        }

        .submenu-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
          padding: 24px;
          width: 100%;
        }

        .submenu-group {
          gap: 8px;
          display: flex;
          flex-direction: column;

          > span {
            color: $primary-color;
            font-weight: $font-semibold;
            text-transform: uppercase;
          }
        }

        .submenu-items {
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding: 8px 0;

          .submenu-item {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            .submenu-name {
              color: $primary-color;
              font-weight: $font-semibold;
            }

            .submenu-icon {
              width: 24px;
              height: 24px;
            }
          }
        }

        .sidebar {
          background: $bg-color-secondary;
          padding: 24px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          display: flex;
          flex-direction: column;
          min-width: 191px;
          height: auto;
          gap: 16px;

          .sidebar-heading {
            color: $primary-color;
            font-weight: $font-semibold;
          }

          .sidebar-item {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 8px;
            cursor: pointer;

            .sidebar-name {
              color: $primary-color;
              font-weight: $font-semibold;
            }

            .sidebar-icon {
              width: 24px;
              height: 24px;
            }
          }
        }

        .demo-section {
          margin-top: 16px;
          grid-column: span 2;
          display: flex;
          flex-direction: row;
          background-color: $bg-color-secondary;
          padding: 12px;
          width: 100%;
          justify-content: space-between;
          border-radius: 12px;

          .demo-wrapper {
            display: flex;
            flex-direction: column;

            .demo-first-text {
              font-weight: $font-medium;
              color: $primary-color;
            }
            .demo-second-text {
              font-weight: $font-medium;
              color: $primary-color-transparent;
            }
          }
        }
      }
    }
  }

  /**** MOBILE NAV ****/
  .mobile-nav-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    & a {
      font-weight: $font-semibold;
      color: $text-white-color;
      text-decoration: none;
      padding: 10px;
      transition: color 0.6s ease-out;
    }

    .header-menu-item-mobile {
      display: flex;
      padding: 12px 24px;
      justify-content: space-between;
      background-color: $primary-color;
      align-items: center;
    }

    .footer-nav-menu {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: flex-end;
      padding: 16px 24px;
      border-top: 1px solid $border-top-nav-menu-mobile;
    }

    .right-col-menu {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    .btn-nav-menu {
      cursor: pointer;
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      height: 40px;
      width: 40px;
    }

    .mobile-nav-drawer {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $bg-color;
      transform: translateX(-100%);
      transition: transform 0.6s ease-in-out;
      height: 100vh;
      overflow-y: auto;

      .wrapper-menu-item-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .submenu-mobile-chevron-down {
          border: none;
          background-color: transparent;
          padding: 0;
          margin: 0;
          cursor: pointer;
        }
      }
    }

    .mobile-nav-drawer.open {
      transform: translateX(0);
    }

    .mobile-nav-drawer ul {
      list-style-type: none;
      padding: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .mobile-nav-drawer .menu-nav-item-mobile {
      padding: 12px 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }
    .mobile-nav-drawer ul li a {
      color: $footer-card-text-color;
      text-decoration: none;
      font-size: 18px;
      font-weight: $font-semibold;
    }

    /* submeni */
    .submenu-mobile-wrapper {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: $bg-color-secondary;
      min-height: 100px;
      width: 100%;
      z-index: 9999;
      max-height: 300px;
      overflow-y: auto;

      .submenu-mobile-group-wrapper {
        padding: 12px 16px;

        border-bottom: 1px solid $bg-color;

        &:last-child {
          border-bottom: none;
        }

        > span {
          padding: 10px;
          font-weight: $font-semibold;
          color: $primary-color;
        }

        > ul {
          margin-top: 15px;
        }
      }
    }
  }
}
