@use "../../styles/variables.scss" as *;
@use "../../styles/responsive.scss" as *;

header {
  width: 100%;
  position: relative;
  background: $bg-color-header;
  font-family: $font-header-primary;

  .circle {
    position: absolute;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    filter: blur(30px);

    & .left {
      top: 0;
      left: 0;
    }

    &.circle-1 {
      background: $circle-color-1;
      top: 0;
      box-shadow: 0 0 20px $circle-color-1;
    }

    &.circle-2 {
      background: $circle-color-2;
      top: 12px;
      left: 51px;
      box-shadow: 0 0 20px $circle-color-2;
    }

    &.circle-3 {
      background: $circle-color-3;
      top: 47px;
      box-shadow: 0 0 20px $circle-color-3;
    }

    & .right {
      top: 0;
      right: 0;
    }

    &.circle-4 {
      background: $circle-color-1;
      box-shadow: 0 0 20px $circle-color-1;
      top: 0;
      right: 51px;

      @include respond("md") {
        top: 90px;
      }
    }

    &.circle-5 {
      background: $circle-color-2;
      box-shadow: 0 0 20px $circle-color-2;
      top: 12px;
      right: 0;

      @include respond("md") {
        top: 104px;
      }
    }

    &.circle-6 {
      background: $circle-color-3;
      box-shadow: 0 0 20px $circle-color-3;
      top: 47px;
      right: 51px;

      @include respond("md") {
        display: none;
      }
    }
  }

  .wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 200px;
    z-index: 10;
    position: relative;

    @include respond("lg") {
      padding: 16.5px 24px;
    }

    @include respond("sm") {
      padding: 12px 24px;
      flex-direction: column;
      align-items: baseline;
      gap: 8px;
    }

    .col-header {
      display: flex;
      flex-direction: column;
      align-items: baseline;

      & span {
        letter-spacing: $letter-spacing-px;
        font-weight: $font-normal;
      }
      .text1 {
        color: $text-white-color;
      }
      .text2 {
        color: $accent-color;
      }
    }
  }

  .header-close-icon {
    background-color: $bg-color;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    cursor: pointer;
    padding: 4px;
    border: none;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 10;
    transition: background-color 0.6s ease-in-out;

    &:hover {
      background-color: $highlight-color;
    }
  }
}
