@use "./styles/variables.scss" as *;
@use "./styles/typography.scss" as *;
@use "./styles/responsive.scss" as *;

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
  font-family: $font-primary;
}
